
/* Backgrounds */

		.whitetail{
			background-image: url('../images/pngs/whitetailpage.png');
			background-size: fixed;
			background-height: 1000px;
			background-color: blanchedalmond;
		}

		.nads{
			background-image: url('../images/pngs/aboutpage.png');
			background-size: fixed;
			background-height: 1000px;
			background-color: blanchedalmond;
		}

		.mule{
			background-image: url('../images/pngs/mulepage.png');
			background-size: fixed;
			background-height: 1000px;
			background-color: blanchedalmond;
		}

		.moose{
			background-image: url('../images/pngs/moosepage.png');
			background-size: fixed;
			background-height: 2000px;
			background-color: blanchedalmond;
		}

		.elk{
			background-image: url('../images/pngs/elkpage.png');
			background-size: fixed;
			background-height: 1000px;
			background-color: blanchedalmond;
		}

		.blacktail{
		 	background-image: url('../images/pngs/blacktailpage.png');
		 	background-size: fixed;
		 	background-height: 1000px;
			background-color: blanchedalmond;
		}


/* Fonts */


		.sans{
			font-family: 'Overpass', sans-serif;
			color: #FFF7E5;

		}

		.serif {
			font-family: 'DM Serif Text', serif;
			color: #FFF7E5;
		}

/* Nav Bar */

		body{
			width: 100%;
			margin:0;
		}

		header{
			
			margin:0;
			width: 100%;
			padding: none;
			height: 80px;
			border:0;
		}

		nav{
			width: 100%;
			color: white;
			position: absolute;
			top:1px;
			left:250px;
			height: 300px;
			opacity: 1;
			padding: none;
			margin:0;
		}

		nav ul {
			list-style-type: none;
			color: white;
			 display: inline-block;
			 padding:15px;
			 margin:0;
		}

		nav li {
			font-family: 'DM Serif Text', serif;
			color: white;
			display: inline-block;
			padding: 14px;
			margin: 0;
			}

		a{
			text-decoration: none;
			color: white;
			display: inline-block;
			margin: auto;
			padding: auto;
		}


		header img {
			display: inline-block;
			padding: 15px;

		}


		.dropdown {
  			float: left;
  			overflow: hidden;
  			color: #D8860B;
  			padding: 0px;
		}



		.dropdown .dropdownbutton {  
		  border-radius: 15px;
		  outline: none;
		  display: inline-block;
		  color: white;
		}


		.navbar a:hover, .dropdown:hover .dropdownbutton {
		background-color: #C1A787;
		   border-radius: 25px;
		}


		.dropdown-content {
		  display: none;
		  position: absolute;
		  background-color: white;
		  min-width: 160px;
		  z-index: 1;
		}

		.dropdown-content a {
		  float: none;
		  color: white;
		  padding: 5px 5px;
		  text-decoration: none;
		  display: block;
		  text-align: left;
		}

		.dropdown-content a:hover {
		 background-color: #6F5013;
		  border-radius: 15px;
		}

		.dropdown:hover .dropdown-content {
		  display: block;
		  background-color: #C1A787;
		   border-radius: 15px;
		}

		.navbar {
		  overflow: hidden;
		 
		}

		.navbar a {
		  float: left;
		  font-size: 16px;
		  color: white; 
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		}

/* Body */


.indexcontent{
	margin: 0;
	padding: 0;
	position: absolute;
	top:315px;
	left:325px;
}

.elkcontent{
	margin: 0;
	padding: 0;
	position: absolute;
	top:330px;
	left:975px;
}

.blackcontent{
	margin: 0;
	padding: 0;
	position: absolute;
	top:300px;
	left:880px;
}

.moosecontent{
	margin: 0;
	padding: 0;
	position: absolute;
	top:325px;
	left:925px;
}

.mulecontent{
	margin: 0;
	padding: 0;
	position: absolute;
	top:90px;
	left:125px;
}

.whitecontent{
	margin: 0;
	padding: 0;
	position: absolute;
	top:200px;
	left:100px;
}



























